.container {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}

.datos_basicos {
  display: flex;
  width: 100%;
}

p {
  box-shadow: 10px 5px 10px rgba(96, 95, 95, 0.2);
  border-radius: 5px;
  min-width: 15rem;
  max-width: 25rem;

  color: rgb(70, 65, 65);
}

span {
  color: rgba(0, 0, 0, 0.766);
  margin: 0;
  font-weight: 500;
}
.data_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.197);
}

.data_basic,
.data {
  margin: 1rem;
  width: 50%;
  padding: 1rem;
}

.data_basic {
  background-color: rgb(112, 128, 144);
  color: rgba(255, 255, 255, 0.786);
}

.data {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color: rgb(112, 128, 144);
}
